<h1 class="title">{{post.title}}</h1>

<div class="suggestion" ng-controller="SuggestionController">
	<div class="container">
		<div class="comment" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<p>
			<span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> {{comment.upvotes}} 
			</p>
			<span class="comment-body">
			{{comment.body}}
			</span>
		</div>
	</div>

	<form ng-submit="addComment()" style="margin-top: 50px">
		<h3>Care to leave a comment?</h3>
			<div class="form-group">
			<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
			</div>
			<button type="submit" class="btn btn-primary">Comment</button>
	</form>

</div>